//Rewrite to www
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^www.alexmadrzyk.me[nc]
RewriteRule ^(.*)$ http://alexmadrzyk.me/$1 [r=301,nc]

//Caching schema
<FilesMatch "\.(jpg|png|css|js)$">
Header set Cache-Control "public, max-age=0"
</FilesMatch>

//Change default directory page
DirectoryIndex index.php

//Prevent viewing of .htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>

