.cs-select {
    padding-top: 2px;
    padding-bottom: 16px;
}

.cs-select span {
    padding-left: 2.4em;
}

.portfolioBar .clearfix {
    margin-bottom: 0;
}
.portfolioBar {
    margin-bottom: 30px;
}

.portfolio {
    padding: 5px
}