
.portfolioLink {
    color: #3E3E3B;
}

.portfolioLink:hover {
    color: #a5a5a5;
}

.minor {
    font-size: 1.2em !important;
    padding-bottom: 30px;
    text-align: justify;
}
.pitem {
    margin-top: 5%;
    text-align: center;
    display: inline-block;
    margin-bottom: 6%;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
    padding-left: 5px;
    padding-right: 5px;
}
.proname {
    margin-top: 20px;
    font-size: 1em;
    font-weight: 800;
    display: block;
}
.procat {
    margin-top: 20px;
    display: block;
    font-size: 1.1em;
    font-weight: 400;
    text-align: left;
}
.portfolioimage {
    opacity: 0.9;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    max-width: 80%;
    display: inline-block;
    position: relative;
    margin-top: 10%;
}
.portfolio {
    margin-top: 5%;
}
.pitem:nth-child(2), .minor.col-md-3:nth-child(3) {
    border: 0;
}
/*Applies to screen more than 1000 or the md thingies, above works for sm*/

.pitema:nth-child(2), .minor.col-md-3:nth-child(3) {
    border: 1px solid #ddd;
    border-top: 0;
    border-bottom: 0;
}
.portfolioimage {
    max-width: 72%;
}
.proname {
    margin-top: 20px;
    font-size: 1.4em;
    font-weight: 800;
}
.procat {
    /*  display: none;
  visibility: hidden;*/

    margin-top: 16px;
    font-size: 1.2em;
    text-align: center;
    font-weight: 400;
    width: 85%;
    margin-left: 7.5%;
}
.pitem {
    margin-top: 0.2%;
    padding-right: 15px;
    padding-left: 15px;
}
.thumbnails {
    margin-top: 5%;
    text-align: center;
}
