
body, html {
    /* Allows the header image to fit the whole screen */
    height: 100%;
    font: 400 17px/1.8 "Roboto", sans-serif;
    color: #3e3e3b;
    -webkit-font-smoothing: antialiased;
}

a {
    color: #3e3e3b;
    text-decoration: none!important;
}

p {
    margin: 0 2% 0 2%;
}

/* IMPORT LATO */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 100;
    src: local('Lato Hairline'), local('Lato-Hairline'), url(../fonts/Lato/Lato-Hairline.woff2) format('woff2'), url(../fonts/Lato/Lato-Hairline.ttf) format('truetype'), url(../fonts/Lato/Lato-Hairline.woff) format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'), url(../fonts/Lato/Lato-Light.woff2) format('woff2'), url(../fonts/Lato/Lato-Light.ttf) format('truetype'), url(../fonts/Lato/Lato-Light.woff) format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Lato/Lato-Regular.eot);
    src: local('Lato Regular'), local('Lato-Regular'), local('Lato'), url(../fonts/Lato/Lato-Regular.woff2) format('woff2'), url(../fonts/Lato/Lato-Regular.ttf) format('truetype'), url(../fonts/Lato/Lato-Regular.woff) format('woff'), url(../fonts/Lato/Lato-Regular.eot?#iefix) format('embedded-opentype'), url(../fonts/Lato/Lato-Regular.svg#Lato) format('svg');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url(../fonts/Lato/Lato-Bold.woff2) format('woff2'), url(../fonts/Lato/Lato-Bold.ttf) format('truetype'), url(../fonts/Lato/Lato-Bold.woff) format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato Black'), local('Lato-Black'), url(../fonts/Lato/Lato-Black.woff2) format('woff2'), url(../fonts/Lato/Lato-Black.ttf) format('truetype'), url(../fonts/Lato/Lato-Black.woff) format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 100;
    src: local('Lato Hairline Italic'), local('Lato-HairlineItalic'), url(../fonts/Lato/Lato-Hairline-Italic.woff2) format('woff2'), url(../fonts/Lato/Lato-Hairline-Italic.ttf) format('truetype'), url(../fonts/Lato/Lato-Hairline-Italic.woff) format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 300;
    src: local('Lato Light Italic'), local('Lato-LightItalic'), url(../fonts/Lato/Lato-Light-Italic.woff2) format('woff2'), url(../fonts/Lato/Lato-Light-Italic.ttf) format('truetype'), url(../fonts/Lato/Lato-Light-Italic.woff) format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: local('Lato Italic'), local('Lato-Italic'), url(../fonts/Lato/Lato-Italic.woff2) format('woff2'), url(../fonts/Lato/Lato-Italic.ttf) format('truetype'), url(../fonts/Lato/Lato-Italic.woff) format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(../fonts/Lato/Lato-Bold-Italic.woff2) format('woff2'), url(../fonts/Lato/Lato-Bold-Italic.ttf) format('truetype'), url(../fonts/Lato/Lato-Bold-Italic.woff) format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 900;
    src: local('Lato Black Italic'), local('Lato-BlackItalic'), url(../fonts/Lato/Lato-Black-Italic.woff2) format('woff2'), url(../fonts/Lato/Lato-Black-Italic.ttf) format('truetype'), url(../fonts/Lato/Lato-Black-Italic.woff) format('woff');
}

/* ================================================== NAVBAR ==================================================== */

.navbar-default {
    background-color: white;
    border-color: rgba(34, 34, 34, 0.05);
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 100;
    letter-spacing: 1px;
}
.navbar-default .navbar-header .navbar-brand, glyphicon-chevron-up{
    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 300;
    letter-spacing: 1px;
    color: #3e3e3b;
}
/*.navbar-default .navbar-header .navbar-brand:hover,*/
/*.navbar-default .navbar-header .navbar-brand:focus {*/
    /*color: #fcbd20;*/
/*}*/
.navbar-default .navbar-header .navbar-toggle {
    font-size: 12px;
    color: #222222;
    padding: 8px 10px;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.navbar-default .nav > li > a {
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 900;
    color: white;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
    color: #222222;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
    color: #a5a5a5;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
    color: #a5a5a5!important;
    background-color: transparent;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
    background-color: transparent;
}
@media (min-width: 768px) {
    .navbar-default {
        background-color: transparent;
        border-color: transparent;
    }
    .navbar-default .navbar-header .navbar-brand, glyphicon-chevron-up {
        color: rgba(255, 255, 255, 0);
    }
    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus,
    glyphicon-chevron-up:hover,
    glyphicon-chevron-up:focus {
        color: rgba(255, 255, 255, 0);
    }
    .navbar-default .nav > li > a,
    .navbar-default .nav > li > a:focus {
        color: rgba(255, 255, 255, 1);
    }
    .navbar-default .nav > li > a:hover,
    .navbar-default .nav > li > a:focus:hover {
        color: #b6b6b6!important;
    }
    .navbar-default.affix {
        background-color: white;
        border-color: rgba(34, 34, 34, 0.1);
    }
    .navbar-default.affix .navbar-header .navbar-brand, glyphicon-chevron-up{
        color: #3e3e3b;
    }
    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus,
    glyphicon-chevron-up:hover,
    glyphicon-chevron-up:focus{
        color: #a5a5a5;
    }
    .navbar-default.affix .nav > li > a,
    .navbar-default.affix .nav > li > a:focus {
        color: #222222;
    }
    .navbar-default.affix .nav > li > a:hover,
    .navbar-default.affix .nav > li > a:focus:hover {
        color: #a5a5a5;
    }
}

/* ================================================== PARALLAX ================================================== */

.bgimg-1, .bgimg-2, .bgimg-3, .headerText {
    position: relative;
    /* MOTION PARALLAX CONTROLLED BY BG ATTACHMENT */
    /*background-attachment: fixed!important;*/
    /* ALSO REMOVE BG POSITION OF BGIMG */
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ================================================== IMAGES ================================================== */

.bgimg-1 {
    background-image: url("../images/header_text.png"), url("../images/header.jpg");
    min-height: 100%;
}

/*.headerText {*/
    /*background-image: url("../images/header_text.png");*/
    /*height: 100%;*/
    /*position: absolute;*/
    /*z-index: 10;*/
    /*top: 0;*/
/*}*/

/*#title {*/
    /*top: 39.5%;*/
/*}*/

.bgimg-2 {
    background-image: url("../images/explore.jpg");
    background-position-y: -60px;
    min-height: 600px;
}

.bgimg-3 {
    background-image: url("../images/design1.jpg");
    background-position-y: -50px;
    min-height: 600px; /*550*/
}

.profilePic {
    text-align:center;
    padding-top: 4%;
    padding-bottom: 4%;
}

/*a.darkenImg {*/
    /*display: block;*/
    /*background: black;*/
    /*padding: 0;*/
/*}*/

/*a.darkenImg img {*/
    /*display: block;*/
    /*-webkit-transition: all 0.08s linear;*/
    /*-moz-transition: all 0.08s linear;*/
    /*-o-transition: all 0.08s linear;*/
    /*transition: all 0.08s linear;*/
/*}*/

/*a.darkenImg:hover img {*/
    /*opacity: 0.7;*/
/*}*/

/* ================================================== GLOBAL ACADEMICS ============================================ */

.educationRow {
    padding-bottom: 2.5%;
}

.educationYear {
    font-style: italic;
    font-weight: lighter;
    /*font-size: x-large;*/
}

.educationTitle {
    color: #DF4244;
    text-align: left;
    /*margin-left:50px;*/
    line-height: normal;
    padding-bottom: 5px;
}

.educationBullet {
    /*margin-left:100px;*/
    font-style: italic;
    line-height: 135%;
    text-align: left;
    font-size: 13pt;
}

.educationLogo {
    text-align:center!important;
    /*padding-left: 70px!important;*/
}

.edimg {
    max-width: 240px!important;
    max-height: 100px!important;
    display: inline-block;
}

.awardTitle {
    font-weight: 400;
}

.aboutme a, .fakeIn{
    color: #c11603;
    font-weight: 800;
    cursor: pointer;
}

/* ================================================== MISC. TEXT ================================================== */

a:hover {
    text-decoration: none!important;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

#headerTitle {
    font-size: 35pt;
    font-weight: 500;
    letter-spacing: 1px;
}

#title span.border{
    background-color: transparent;
    border-style: solid;
    border-color: #ffffff;
    border-width: 5px;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

.projects {
    font-size: 24px;
    line-height: 29px;
    font-family: "Lato", 'Helvetica', 'Arial', sans-serif;
    font-weight: 300;
    /*text-transform: uppercase;*/
    text-align: center;
    /*letter-spacing: 14px;*/
    padding-bottom: 3%;
}

h3 {
    letter-spacing: 14px;
    text-transform: uppercase;
    font: 40px "Lato", sans-serif;
    color: #3e3e3b;
    padding-bottom: 5%;
    word-wrap: break-word;
}

@media only screen
and (max-device-width: 1000px)
{
    h3 {
        letter-spacing: 0;
    }
}

#thirdPane h3 {
    padding-bottom: 0;
}

footer {
    background-color: #3e3e3b;
    /* Padding: Top Right Bottom Left*/
    padding-top: 10px;
}

footer h3 {
    color: white;
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    font-style: italic;
    font-size: 40px;
    font-weight: 400;
    padding-bottom: 0;
    letter-spacing: normal;
    text-align: center;
    text-transform: none;
}

footer p {
    color: white;
    text-align: right;
    padding-right: 15px;
    font-weight: 100;
    font-size: 8pt;
}

/* ================================================== PORTFOLIO ============================================ */

.portfolioLink {
    color: #3E3E3B;
}

.portfolioLink:hover, .potato:hover, .linkt>a:hover{
    color: #a5a5a5!important;
}

.minor {
    /*padding-bottom: 30px;*/
    text-align: justify;
}
.hidden {
    display: none;
}
.pitem {
    margin-top: 5%;
    text-align: center;
    display: inline-block;
    margin-bottom: 6%;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
    padding-left: 5px;
    padding-right: 5px;
    /*border: solid 4px black!important;  DEBUG PORTFOLIO*/
}
.proname {
    margin-top: 20px;
    font-size: 1em;
    font-weight: 800;
    display: block;
}
.procat {
    margin-top: 20px;
    display: block;
    font-size: 1.1em;
    font-weight: 400;
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
}
.portfolioimage {
    opacity: 0.9;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    max-width: 80%;
    display: inline-block;
    position: relative;
    margin-top: 10%;
}

.portfolio {
    margin-top: 5%;
}
.pitem:nth-child(2), .minor.col-md-3:nth-child(3) {
    border: 0;
}

.thumbnails {
    font-weight: 100;
    font-size: 22px;
    margin-top: 7px;
    text-align: center;
}

@media screen and (min-width: 800px) {
    /*Applies to screen more than 1000 or the md thingies, above works for sm*/
    .pitema:nth-child(2),
    .minor.col-md-3:nth-child(3) {
        border: 1px solid #ddd;
        border-top: 0;
        border-bottom: 0;
    }

    .portfolioimage {
        max-width: 72%;
    }

    .proname {
        margin-top: 20px;
        font-size: 1.4em;
        font-weight: 800;
    }

    .procat {
        /*  display: none;
      visibility: hidden;*/

        margin-top: 16px;
        font-size: 1.2em;
        text-align: center;
        font-weight: 400;
        width: 85%;
        margin-left: 7.5%;
    }

    .pitem {
        margin-top: 0.2%;
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media screen and (min-width: 700px) {}
@media screen and (min-width: 550px) {}

/* ================================================== FOOTER ============================================ */

.footerDiv {
    display: inline-block!important;
    background-color: #3e3e3b!important;
}

/*Image hover effect */
.footerImg {
    display: inline-block;
    background-color: black;
    margin: 0 auto;
}

.footerImg img {
    display: inline-block;
    margin: 0 auto;
}

.footerImg img:hover {
    opacity: 0.8;
}

/*Responsiveness */
/*SM SCREEN */
.itemlink {
    /*margin-top: 5%;*/
    text-align: center;
    display: inline-block;
    /*margin-bottom: 5%;*/
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
    /*margin-left: 16%;*/
    /*margin-right: 16%;*/
}

.footerImg{
    max-width: 40%;
}

.footerImg img {
    max-width: 100.2%;
}

/* MD SCREEN */
@media screen and (min-width: 992px) {
    .itemlink {
        margin-top: 0.2%;
    }

    .footerImg {
        max-width: 100%;
    }

    .itemlink {
        margin-left: 0;
        margin-right: 0;
    }
}

/* ================================================== NEW FOOTER ============================================ */


/*footer {*/
    /*box-sizing:border-box;*/
    /*transition:.15s ease-in-out;*/
    /*font-family:helvetica neue,helvetica,arial,sans-serif;*/
    /*font-size:35px;*/
    /*font-weight:200;*/
    /*color:#a9a9a9;*/
    /*margin:94px auto 20px auto;*/
/*}*/

/*.logo {*/
    /*display:inline-block;*/
    /*position:relative;*/
    /*left:0;*/
    /*top:0;*/
    /*padding:30px;*/
    /*font-size:45px;*/
    /*line-height:45px;*/
    /*height:105px;*/
    /*width:105px;*/
    /*text-align:center;*/
    /*overflow:hidden;*/
    /*border-radius:10px;*/
    /*margin:20px 20px 20px 0;*/
    /*color:white;*/
    /*box-shadow:2px 2px 2px rgba(0,0,0,.25);*/
/*}*/

/*.logo:active {*/
    /*box-shadow:2px 2px 2px rgba(0,0,0,.25);*/
    /*left:0;*/
    /*top:0;*/
/*}*/

/*.facebook {*/
    /*background: #3b5998; !* Old browsers *!*/
    /*background: -moz-linear-gradient(-45deg,  #3b5998 0%, #3b5998 100%); !* FF3.6+ *!*/
    /*background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#3b5998), color-stop(100%,#3b5998)); !* Chrome,Safari4+ *!*/
    /*background: -webkit-linear-gradient(-45deg,  #3b5998 0%,#3b5998 100%); !* Chrome10+,Safari5.1+ *!*/
    /*background: -o-linear-gradient(-45deg,  #3b5998 0%,#3b5998 100%); !* Opera 11.10+ *!*/
    /*background: -ms-linear-gradient(-45deg,  #3b5998 0%,#3b5998 100%); !* IE10+ *!*/
    /*background: linear-gradient(135deg,  #3b5998 0%,#3b5998 100%); !* W3C *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b5998', endColorstr='#3b5998',GradientType=1 ); !* IE6-9 fallback on horizontal gradient *!*/
/*}*/

/*.facebook:hover {*/
    /*background: #3b5998; !* Old browsers *!*/
    /*background: -moz-linear-gradient(-45deg,  #3b5998 0%, #173062 100%); !* FF3.6+ *!*/
    /*background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#3b5998), color-stop(100%,#173062)); !* Chrome,Safari4+ *!*/
    /*background: -webkit-linear-gradient(-45deg,  #3b5998 0%,#173062 100%); !* Chrome10+,Safari5.1+ *!*/
    /*background: -o-linear-gradient(-45deg,  #3b5998 0%,#173062 100%); !* Opera 11.10+ *!*/
    /*background: -ms-linear-gradient(-45deg,  #3b5998 0%,#173062 100%); !* IE10+ *!*/
    /*background: linear-gradient(135deg,  #3b5998 0%,#173062 100%); !* W3C *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b5998', endColorstr='#173062',GradientType=1 ); !* IE6-9 fallback on horizontal gradient *!*/
/*}*/

/*.logo:hover .fa-facebook {*/
    /*text-shadow:*/
    /*1px 1px 0 #173062,*/
    /*2px 2px 0 #173062,*/
    /*3px 3px 0 #173062,*/
    /*4px 4px 0 #173062,*/
    /*5px 5px 0 #173062,*/
    /*6px 6px 0 #173062,*/
    /*7px 7px 0 #173062,*/
    /*8px 8px 0 #173062,*/
    /*9px 9px 0 #173062,*/
    /*10px 10px 0 #173062,*/
    /*11px 11px 0 #173062,*/
    /*12px 12px 0 #173062,*/
    /*13px 13px 0 #173062,*/
    /*14px 14px 0 #173062,*/
    /*15px 15px 0 #173062,*/
    /*16px 16px 0 #173062,*/
    /*17px 17px 0 #173062,*/
    /*18px 18px 0 #173062,*/
    /*19px 19px 0 #173062,*/
    /*20px 20px 0 #173062,*/
    /*21px 21px 0 #173062,*/
    /*22px 22px 0 #173062,*/
    /*23px 23px 0 #173062,*/
    /*24px 24px 0 #173062,*/
    /*25px 25px 0 #173062,*/
    /*26px 26px 0 #173062,*/
    /*27px 27px 0 #173062,*/
    /*28px 28px 0 #173062,*/
    /*29px 29px 0 #173062,*/
    /*30px 30px 0 #173062,*/
    /*31px 31px 0 #173062,*/
    /*32px 32px 0 #173062,*/
    /*33px 33px 0 #173062,*/
    /*34px 34px 0 #173062,*/
    /*35px 35px 0 #173062,*/
    /*36px 36px 0 #173062,*/
    /*37px 37px 0 #173062,*/
    /*38px 38px 0 #173062,*/
    /*39px 39px 0 #173062,*/
    /*40px 40px 0 #173062,*/
    /*41px 41px 0 #173062,*/
    /*42px 42px 0 #173062,*/
    /*43px 43px 0 #173062,*/
    /*44px 44px 0 #173062,*/
    /*45px 45px 0 #173062,*/
    /*46px 46px 0 #173062,*/
    /*47px 47px 0 #173062,*/
    /*48px 48px 0 #173062,*/
    /*49px 49px 0 #173062,*/
    /*50px 50px 0 #173062,*/
    /*51px 51px 0 #173062;*/
/*}*/

/*.twitter {*/
    /*background: #55acee; !* Old browsers *!*/
    /*background: -moz-linear-gradient(-45deg,  #55acee 0%, #55acee 100%); !* FF3.6+ *!*/
    /*background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#55acee), color-stop(100%,#55acee)); !* Chrome,Safari4+ *!*/
    /*background: -webkit-linear-gradient(-45deg,  #55acee 0%,#55acee 100%); !* Chrome10+,Safari5.1+ *!*/
    /*background: -o-linear-gradient(-45deg,  #55acee 0%,#55acee 100%); !* Opera 11.10+ *!*/
    /*background: -ms-linear-gradient(-45deg,  #55acee 0%,#55acee 100%); !* IE10+ *!*/
    /*background: linear-gradient(135deg,  #55acee 0%,#55acee 100%); !* W3C *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#55acee', endColorstr='#55acee',GradientType=1 ); !* IE6-9 fallback on horizontal gradient *!*/
/*}*/

/*.twitter:hover {*/
    /*background: #55acee; !* Old browsers *!*/
    /*background: -moz-linear-gradient(-45deg,  #55acee 0%, #2274b2 100%); !* FF3.6+ *!*/
    /*background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#55acee), color-stop(100%,#2274b2)); !* Chrome,Safari4+ *!*/
    /*background: -webkit-linear-gradient(-45deg,  #55acee 0%,#2274b2 100%); !* Chrome10+,Safari5.1+ *!*/
    /*background: -o-linear-gradient(-45deg,  #55acee 0%,#2274b2 100%); !* Opera 11.10+ *!*/
    /*background: -ms-linear-gradient(-45deg,  #55acee 0%,#2274b2 100%); !* IE10+ *!*/
    /*background: linear-gradient(135deg,  #55acee 0%,#2274b2 100%); !* W3C *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#55acee', endColorstr='#2274b2',GradientType=1 ); !* IE6-9 fallback on horizontal gradient *!*/
/*}*/

/*.logo:hover .fa-twitter {*/
    /*text-shadow:*/
    /*1px 1px 0 #2274b2,*/
    /*2px 2px 0 #2274b2,*/
    /*3px 3px 0 #2274b2,*/
    /*4px 4px 0 #2274b2,*/
    /*5px 5px 0 #2274b2,*/
    /*6px 6px 0 #2274b2,*/
    /*7px 7px 0 #2274b2,*/
    /*8px 8px 0 #2274b2,*/
    /*9px 9px 0 #2274b2,*/
    /*10px 10px 0 #2274b2,*/
    /*11px 11px 0 #2274b2,*/
    /*12px 12px 0 #2274b2,*/
    /*13px 13px 0 #2274b2,*/
    /*14px 14px 0 #2274b2,*/
    /*15px 15px 0 #2274b2,*/
    /*16px 16px 0 #2274b2,*/
    /*17px 17px 0 #2274b2,*/
    /*18px 18px 0 #2274b2,*/
    /*19px 19px 0 #2274b2,*/
    /*20px 20px 0 #2274b2,*/
    /*21px 21px 0 #2274b2,*/
    /*22px 22px 0 #2274b2,*/
    /*23px 23px 0 #2274b2,*/
    /*24px 24px 0 #2274b2,*/
    /*25px 25px 0 #2274b2,*/
    /*26px 26px 0 #2274b2,*/
    /*27px 27px 0 #2274b2,*/
    /*28px 28px 0 #2274b2,*/
    /*29px 29px 0 #2274b2,*/
    /*30px 30px 0 #2274b2,*/
    /*31px 31px 0 #2274b2,*/
    /*32px 32px 0 #2274b2,*/
    /*33px 33px 0 #2274b2,*/
    /*34px 34px 0 #2274b2,*/
    /*35px 35px 0 #2274b2,*/
    /*36px 36px 0 #2274b2,*/
    /*37px 37px 0 #2274b2,*/
    /*38px 38px 0 #2274b2,*/
    /*39px 39px 0 #2274b2,*/
    /*40px 40px 0 #2274b2;*/
/*}*/

/*.linkedin {*/
    /*background: #0e87bf; !* Old browsers *!*/
    /*background: -moz-linear-gradient(-45deg,  #0e87bf 0%, #0e87bf 100%); !* FF3.6+ *!*/
    /*background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#0e87bf), color-stop(100%,#0e87bf)); !* Chrome,Safari4+ *!*/
    /*background: -webkit-linear-gradient(-45deg,  #0e87bf 0%,#0e87bf 100%); !* Chrome10+,Safari5.1+ *!*/
    /*background: -o-linear-gradient(-45deg,  #0e87bf 0%,#0e87bf 100%); !* Opera 11.10+ *!*/
    /*background: -ms-linear-gradient(-45deg,  #0e87bf 0%,#0e87bf 100%); !* IE10+ *!*/
    /*background: linear-gradient(135deg,  #0e87bf 0%,#0e87bf 100%); !* W3C *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e87bf', endColorstr='#0e87bf',GradientType=1 ); !* IE6-9 fallback on horizontal gradient *!*/
/*}*/

/*.linkedin:hover {*/
    /*background: #0e87bf; !* Old browsers *!*/
    /*background: -moz-linear-gradient(-45deg,  #0e87bf 0%, #075e86 100%); !* FF3.6+ *!*/
    /*background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#0e87bf), color-stop(100%,#075e86)); !* Chrome,Safari4+ *!*/
    /*background: -webkit-linear-gradient(-45deg,  #0e87bf 0%,#075e86 100%); !* Chrome10+,Safari5.1+ *!*/
    /*background: -o-linear-gradient(-45deg,  #0e87bf 0%,#075e86 100%); !* Opera 11.10+ *!*/
    /*background: -ms-linear-gradient(-45deg,  #0e87bf 0%,#075e86 100%); !* IE10+ *!*/
    /*background: linear-gradient(135deg,  #0e87bf 0%,#075e86 100%); !* W3C *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e87bf', endColorstr='#075e86',GradientType=1 ); !* IE6-9 fallback on horizontal gradient *!*/
/*}*/

/*.logo:hover .fa-linkedin {*/
    /*text-shadow:*/
    /*1px 1px 0 #075e86,*/
    /*2px 2px 0 #075e86,*/
    /*3px 3px 0 #075e86,*/
    /*4px 4px 0 #075e86,*/
    /*5px 5px 0 #075e86,*/
    /*6px 6px 0 #075e86,*/
    /*7px 7px 0 #075e86,*/
    /*8px 8px 0 #075e86,*/
    /*9px 9px 0 #075e86,*/
    /*10px 10px 0 #075e86,*/
    /*11px 11px 0 #075e86,*/
    /*12px 12px 0 #075e86,*/
    /*13px 13px 0 #075e86,*/
    /*14px 14px 0 #075e86,*/
    /*15px 15px 0 #075e86,*/
    /*16px 16px 0 #075e86,*/
    /*17px 17px 0 #075e86,*/
    /*18px 18px 0 #075e86,*/
    /*19px 19px 0 #075e86,*/
    /*20px 20px 0 #075e86,*/
    /*21px 21px 0 #075e86,*/
    /*22px 22px 0 #075e86,*/
    /*23px 23px 0 #075e86,*/
    /*24px 24px 0 #075e86,*/
    /*25px 25px 0 #075e86,*/
    /*26px 26px 0 #075e86,*/
    /*27px 27px 0 #075e86,*/
    /*28px 28px 0 #075e86,*/
    /*29px 29px 0 #075e86,*/
    /*30px 30px 0 #075e86,*/
    /*31px 31px 0 #075e86,*/
    /*32px 32px 0 #075e86,*/
    /*33px 33px 0 #075e86,*/
    /*34px 34px 0 #075e86,*/
    /*35px 35px 0 #075e86,*/
    /*36px 36px 0 #075e86,*/
    /*37px 37px 0 #075e86,*/
    /*38px 38px 0 #075e86,*/
    /*39px 39px 0 #075e86,*/
    /*40px 40px 0 #075e86;*/
/*}*/
