
body, html {
    /* Allows the header image to fit the whole screen */
    height: 100%;
    font: 400 17px/1.8 "Roboto", sans-serif;
    color: #3e3e3b;
}

a {
    color: #3e3e3b;
    text-decoration: none!important;
}

p {
    margin: 0;
}

/* ================================================== NAVBAR ==================================================== */

.navbar-default {
    background-color: white;
    border-color: rgba(34, 34, 34, 0.05);
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 100;
    letter-spacing: 1px;
}
.navbar-default .navbar-header .navbar-brand, glyphicon-chevron-up{
    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 300;
    letter-spacing: 1px;
    color: #3e3e3b;
}
/*.navbar-default .navbar-header .navbar-brand:hover,*/
/*.navbar-default .navbar-header .navbar-brand:focus {*/
    /*color: #fcbd20;*/
/*}*/
.navbar-default .navbar-header .navbar-toggle {
    font-size: 12px;
    color: #222222;
    padding: 8px 10px;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.navbar-default .nav > li > a {
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 900;
    color: white;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
    color: #222222;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
    color: #a5a5a5;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
    color: #a5a5a5!important;
    background-color: transparent;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
    background-color: transparent;
}
@media (min-width: 768px) {
    .navbar-default {
        background-color: transparent;
        border-color: transparent;
    }
    .navbar-default .navbar-header .navbar-brand, glyphicon-chevron-up {
        color: rgba(255, 255, 255, 0);
    }
    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus,
    glyphicon-chevron-up:hover,
    glyphicon-chevron-up:focus {
        color: rgba(255, 255, 255, 0);
    }
    .navbar-default .nav > li > a,
    .navbar-default .nav > li > a:focus {
        color: rgba(255, 255, 255, 1);
    }
    .navbar-default .nav > li > a:hover,
    .navbar-default .nav > li > a:focus:hover {
        color: #b6b6b6!important;
    }
    .navbar-default.affix {
        background-color: white;
        border-color: rgba(34, 34, 34, 0.1);
    }
    .navbar-default.affix .navbar-header .navbar-brand, glyphicon-chevron-up{
        color: #3e3e3b;
    }
    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus,
    glyphicon-chevron-up:hover,
    glyphicon-chevron-up:focus{
        color: #a5a5a5;
    }
    .navbar-default.affix .nav > li > a,
    .navbar-default.affix .nav > li > a:focus {
        color: #222222;
    }
    .navbar-default.affix .nav > li > a:hover,
    .navbar-default.affix .nav > li > a:focus:hover {
        color: #a5a5a5;
    }
}

/* ================================================== PARALLAX ================================================== */

.bgimg-1, .bgimg-2, .bgimg-3, .headerText {
    position: relative;
    background-attachment: fixed;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ================================================== IMAGES ================================================== */

.bgimg-1 {
    background-image: url("../images/header_text.png"), url("../images/header.jpg");
    min-height: 100%;
}

/*.headerText {*/
    /*background-image: url("../images/header_text.png");*/
    /*height: 100%;*/
    /*position: absolute;*/
    /*z-index: 10;*/
    /*top: 0;*/
/*}*/

/*#title {*/
    /*top: 39.5%;*/
/*}*/

.bgimg-2 {
    background-image: url("../images/explore.jpg");
    min-height: 600px;
}

.bgimg-3 {
    background-image: url("../images/vital_thirst.jpg");
    min-height: 550px;
}

.profilePic {
    text-align:center;
    padding-top: 4%;
    padding-bottom: 4%;
}

/*a.darkenImg {*/
    /*display: block;*/
    /*background: black;*/
    /*padding: 0;*/
/*}*/

/*a.darkenImg img {*/
    /*display: block;*/
    /*-webkit-transition: all 0.08s linear;*/
    /*-moz-transition: all 0.08s linear;*/
    /*-o-transition: all 0.08s linear;*/
    /*transition: all 0.08s linear;*/
/*}*/

/*a.darkenImg:hover img {*/
    /*opacity: 0.7;*/
/*}*/

/* ================================================== GLOBAL ACADEMICS ============================================ */

.educationRow {
    padding-bottom: 2.5%;
}

.educationYear {
    font-style: italic;
    font-weight: lighter;
    /*font-size: x-large;*/
}

.educationTitle {
    color: #DF4244;
    text-align: left;
    /*margin-left:50px;*/
}

.educationBullet {
    /*margin-left:100px;*/
    font-style: italic;
    line-height: 135%;
    text-align: left;
    font-size: 13pt;
}

.educationLogo {
    text-align:center!important;
    /*padding-left: 70px!important;*/
}

.edimg {
    max-width: 240px!important;
    max-height: 100px!important;
    display: inline-block;
}

.awardTitle {
    font-weight: 400;
}

.aboutme a, .fakeIn{
    color: #c11603;
    font-weight: 800;
    cursor: pointer;
}

/* ================================================== MISC. TEXT ================================================== */

a:hover {
    text-decoration: none!important;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

#headerTitle {
    font-size: 35pt;
    font-weight: 500;
    letter-spacing: 1px;
}

#title span.border{
    background-color: transparent;
    border-style: solid;
    border-color: #ffffff;
    border-width: 5px;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

.projects {
    font-size: 24px;
    line-height: 29px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    /*text-transform: uppercase;*/
    text-align: center;
    /*letter-spacing: 14px;*/
    padding-bottom: 3%;
}

h3 {
    letter-spacing: 14px;
    text-transform: uppercase;
    font: 40px "Lato", sans-serif;
    color: #3e3e3b;
    padding-bottom: 5%;
    word-wrap: break-word;
}

#thirdPane h3 {
    padding-bottom: 0;
}

footer {
    background-color: #3e3e3b;
    /* Padding: Top Right Bottom Left*/
    padding-top: 10px;
}

footer h3 {
    color: white;
    font-family: 'Lato', 'sans-serif';
    font-style: italic;
    font-size: 40px;
    font-weight: 400;
    padding-bottom: 0;
    letter-spacing: normal;
    text-align: center;
    text-transform: none;
}

footer p {
    color: white;
    text-align: right;
    padding-right: 15px;
    font-weight: 100;
    font-size: 8pt;
}

/* ================================================== PORTFOLIO ============================================ */

.portfolioLink {
    color: #3E3E3B;
}

.portfolioLink:hover, .potato:hover, .linkt>a:hover{
    color: #a5a5a5!important;
}

.minor {
    padding-bottom: 30px;
    text-align: justify;
}
.hidden {
    display: none;
}
.pitem {
    margin-top: 5%;
    text-align: center;
    display: inline-block;
    margin-bottom: 6%;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
    padding-left: 5px;
    padding-right: 5px;
}
.proname {
    margin-top: 20px;
    font-size: 1em;
    font-weight: 800;
    display: block;
}
.procat {
    margin-top: 20px;
    display: block;
    font-size: 1.1em;
    font-weight: 400;
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
}
.portfolioimage {
    opacity: 0.9;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    max-width: 80%;
    display: inline-block;
    position: relative;
    margin-top: 10%;
}

.portfolio {
    margin-top: 5%;
}
.pitem:nth-child(2), .minor.col-md-3:nth-child(3) {
    border: 0;
}

.thumbnails {
    font-weight: 100;
    font-size: 22px;
    margin-top: 2%;
    text-align: center;
}

@media screen and (min-width: 800px) {
    /*Applies to screen more than 1000 or the md thingies, above works for sm*/
    .pitema:nth-child(2),
    .minor.col-md-3:nth-child(3) {
        border: 1px solid #ddd;
        border-top: 0;
        border-bottom: 0;
    }

    .portfolioimage {
        max-width: 72%;
    }

    .proname {
        margin-top: 20px;
        font-size: 1.4em;
        font-weight: 800;
    }

    .procat {
        /*  display: none;
      visibility: hidden;*/

        margin-top: 16px;
        font-size: 1.2em;
        text-align: center;
        font-weight: 400;
        width: 85%;
        margin-left: 7.5%;
    }

    .pitem {
        margin-top: 0.2%;
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media screen and (min-width: 700px) {}
@media screen and (min-width: 550px) {}

/* ================================================== FOOTER ============================================ */

.footerDiv {
    display: inline-block!important;
    background-color: #3e3e3b!important;
}

 /*Image hover effect */
.footerImg {
    display: inline-block;
    background-color: black;
    margin: 0 auto;
}

.footerImg img {
    display: inline-block;
    margin: 0 auto;
}

.footerImg img:hover {
    opacity: 0.8;
}

 /*Responsiveness */
 /*SM SCREEN */
.itemlink {
    /*margin-top: 5%;*/
    text-align: center;
    display: inline-block;
    /*margin-bottom: 5%;*/
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
    /*margin-left: 16%;*/
    /*margin-right: 16%;*/
}

.footerImg{
    max-width: 40%;
}

.footerImg img {
    max-width: 100.2%;
}

/* MD SCREEN */
@media screen and (min-width: 992px) {
    .itemlink {
        margin-top: 0.2%;
    }

    .footerImg {
        max-width: 100%;
    }

    .itemlink {
        margin-left: 0;
        margin-right: 0;
    }
}